@import "../styles/variables.scss";

.navbar {
  font-family: $primaryFont;
  background: $orange;
}
.navbar a {
  color: $dark !important;
}
.navbar-brand {
  font-size: 2em !important;
}
.brand a {
  padding: unset;
  color: $light !important;
}
